.card-information{
    position: absolute;
    display: flex;
    z-index: 1;
    top:30px;
    left:20px;
    width: 350px;
    height: 90%;
    border: 1px black;
    border-radius: 15px;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.card-information h3{
    position: sticky;
}
.user-information{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: '2px solid red';
    cursor: pointer;
    border-radius: 15px;
}

.battery-information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

